<template>
    <div class="">
        <div class="container text-right">
        <button type="button" class="btn btn-primary" @click="reloaddata()">Reports</button>     
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>No</th>
            <th>Item </th>
            <th>Name</th>
            <th>Qty</th>
            <th>Amount</th>
            <th>Unit</th>
            <th>Date In</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
            <tr v-for="(n,i) in reverseItems" :key="i" :class="getcolor(n.qty)">
                <td>{{ i + 1}}</td>
                <td width='200'>{{ n.itemid }}</td>
                <td>{{ n.name }}</td>
                <td>{{ n.qty }} </td>
                <td>{{ money(n.amt) }}</n></td>
                <td>{{ n.salesunit }}</td>
                <td width='100'>{{ datanull(n.date_stock_in.substring(0,10))}}</td>
                <td width='100'>{{ status(n.mustcancel) }}</td>
            </tr>
        </tbody>
    </table>
    </div>
</template>

<script>
    export default {
        props:  ['backorders'],
        data () {
            return {
                list: []
            }
        },
        mounted() {
            console.log('Component mounted.')
            console.dir(this.backorders)
        },
        computed: {
            reverseItems () {
                return _.orderBy(this.list, 'qty','desc')
            }
        },
        methods: {
            reloaddata () {
                this.list.length = 0
                var data = this.backorders
                console.dir(data)
                for(let i in data){
                    this.list.push({
                        itemid:data[i].itemid,
                        name:data[i].name,
                        qty:this.qtyfull(data[i].qty),
                        amt:this.qtyfull(data[i].amt),
                        salesunit:data[i].salesunit,
                        date_stock_in:data[i].date_stock_in,
                        mustcancel:data[i].mustcancel
                    })
                }
                //this.list = this.backorders
            },
            qtyfull (i) {
                return parseInt(i)
            },
            money (i) 
            {
                return i.toLocaleString()
            },
            getcolor (i)
            {
                var b = ['danger','info','warning','active']
                if(i >= 100)
                {
                    return b[0]
                }
                else if(i >= 20)
                {
                    return b[1]
                }
                else if(i >=2)
                {
                    return b[2]
                }
                else
                {
                    return b[3]
                }
            },
            datanull(i)
            {
                if(i == '1900-01-01')
                {
                    return 'ไม่มีกำหนด'
                }
                else
                {
                    return i
                }
            },
            status(i)
            {
                if(i == 0)
                {
                    return null
                }
                else
                {
                    return 'หมดยกเลิก'
                }
            }
        }
    }
</script>
