<template>
    <div class="">
        <div class="container text-right">
        <button type="button" class="btn btn-primary" @click="reloaddata()">Reports</button>     
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>No</th>
            <th>SalesId</th>
            <th>Item </th>
            <th>Name</th>
            <th>Qty</th>
            <th>Amount</th>
            <th>Unit</th>
            <th>Date In</th>
            <th>Account</th>
            <th>Account Name</th>
            <th>Area</th>
        </tr>
        </thead>
        <tbody>
            <tr v-for="(n,i) in data" :key="i" >
                <td>{{ i + 1}}</td>
                <td >{{ n.salesid }}</td>
                <td>{{ n.itemid }}</td>
                <td width='200'>{{ n.name }} </td>
                <td>{{ n.remainsalesphysical}}</td>
                <td>{{ money(n.lineamount) }}</n></td>
                <td>{{ n.salesunit }}</td>
                <td width='100'>{{ datanull(n.date_stock_in.substring(0,10))}}</td>
                <td >{{ n.custaccount }}</td>
                <td>{{ n.salesname }} </td>
                <td>{{ n.salesdistrictid }} </td>
            </tr>
        </tbody>
    </table>
    </div>
</template>

<script>
    export default 
    {
        props:  ['ordertopline'],
        data(){
            return {
                data:[]
            }
        },
        mounted() 
        {
            console.log('Component mounted.')
            console.dir(this.ordertopline)    
        },
        methods: {
            reloaddata()
            {
                this.data = this.ordertopline
            },
            money (i) 
            {
                return i.toLocaleString()
            },
            datanull(i)
            {
                if(i == '1900-01-01')
                {
                    return 'ไม่มีกำหนด'
                }
                else
                {
                    return i
                }
            }
        }
    }
</script>
